# Generate Bailian api key https://help.aliyun.com/zh/model-studio/get-api-key
export DASHSCOPE_API_KEY=sk-xx

# 字节风格化相关参数
# 参考接口文档 https://www.volcengine.com/docs/6791/1314297
export VolcAccessKeyID=
export VolcSecretAccessKey=
export SourceImageFolder=